{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Registered </h2>
    <table border="1">
      <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Date Joined</td>
        <td>Date Updated</td>
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .id }}</td>
        <td> {{ .name }} </td>
        <td>{{ .dateCreated }} </td> 
        <td>{{ .dateUpdated }} </td> 
        <td><a href="/show?id={{ .id }}">View</a></td>
        <td><a href="/edit?id={{ .id }}">Edit</a></td>
        <td><a href="/delete?id={{ .id }}">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}