{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Register {{ .employeeID }} </h2>
      <p>Name: {{ .Name }}</p>
      <p>City:  {{ .Date_Joined }}</p><br /> <a href="/edit?id={{ .employeeID }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }}